<% content_for :title do %>
	About us
<% end %>
<div class="row-fluid white-background-static">
<div class="container">
	
	  <div class="marketing">
	
	    <h1 class="jumbotron-orange"><%= Setting.app_name%> </h1>
	    <p class="marketing-byline">Who we are and why we do what we do.</p>
	
	    <div class="row-fluid">
	      <div class="span4">
	      	<i class="icon-group icon-4x"></i>
	        
	        <h2 class="jumbotron-orange">Lorem ipsum</h2>
	        <p><%= Setting.app_name%> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec tincidunt lectus. Proin suscipit urna eu erat egestas malesuada. In aliquet enim non lectus tincidunt vehicula. Pellentesque eros lorem, tempor et consequat a, mattis ut nulla. Ut id fringilla nibh. Nam ultricies ullamcorper neque. Aenean enim turpis, elementum a lacinia vulputate, tempor quis magna. Mauris ac mollis metus. Suspendisse ac placerat sem. Mauris bibendum consequat purus laoreet mattis. Aenean sodales, mauris ac mattis tempus, est urna gravida est, eu sodales dolor sem vel neque. Nullam ante nulla, interdum vel scelerisque sed, porttitor eget nibh. Mauris vitae nunc vel arcu consequat congue. </p>

	      </div>
	      <div class="span4">
	        <i class="icon-search icon-4x"></i>
	        <h2 class="jumbotron-orange">Lorem ipsum</h2>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec tincidunt lectus. Proin suscipit urna eu erat egestas malesuada. In aliquet enim non lectus tincidunt vehicula. Pellentesque eros lorem, tempor et consequat a, mattis ut nulla. Ut id fringilla nibh. Nam ultricies ullamcorper neque. Aenean enim turpis, elementum a lacinia vulputate, tempor quis magna. Mauris ac mollis metus. Suspendisse ac placerat sem. Mauris bibendum consequat purus laoreet mattis. Aenean sodales, mauris ac mattis tempus, est urna gravida est, eu sodales dolor sem vel neque. Nullam ante nulla, interdum vel scelerisque sed, porttitor eget nibh. Mauris vitae nunc vel arcu consequat congue.</p>
	      </div>
	      <div class="span4">
	        <i class="icon-heart icon-4x"></i>
	        <h2 class="jumbotron-orange">Lorem ipsum</h2>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec tincidunt lectus. Proin suscipit urna eu erat egestas malesuada. In aliquet enim non lectus tincidunt vehicula. Pellentesque eros lorem, tempor et consequat a, mattis ut nulla. Ut id fringilla nibh. Nam ultricies ullamcorper neque. Aenean enim turpis, elementum a lacinia vulputate, tempor quis magna. Mauris ac mollis metus. Suspendisse ac placerat sem. Mauris bibendum consequat purus laoreet mattis. Aenean sodales, mauris ac mattis tempus, est urna gravida est, eu sodales dolor sem vel neque. Nullam ante nulla, interdum vel scelerisque sed, porttitor eget nibh. Mauris vitae nunc vel arcu consequat congue.</p>
	      </div>
	    </div>
	    <hr class="soften">
	  </div>
	
</div>

<div class="container">
	
	  <div class="marketing">

	
	    <div class="row-fluid">
	      <div class="span4">
	      	<i class="icon-sitemap icon-4x"></i>
	        
	        <h2 class="jumbotron-orange">Lorem ipsum</h2>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec tincidunt lectus. Proin suscipit urna eu erat egestas malesuada. In aliquet enim non lectus tincidunt vehicula. Pellentesque eros lorem, tempor et consequat a, mattis ut nulla. Ut id fringilla nibh. Nam ultricies ullamcorper neque. Aenean enim turpis, elementum a lacinia vulputate, tempor quis magna. Mauris ac mollis metus. Suspendisse ac placerat sem. Mauris bibendum consequat purus laoreet mattis. Aenean sodales, mauris ac mattis tempus, est urna gravida est, eu sodales dolor sem vel neque. Nullam ante nulla, interdum vel scelerisque sed, porttitor eget nibh. Mauris vitae nunc vel arcu consequat congue.</p>

	      </div>
	      <div class="span4">
	        <i class="icon-road icon-4x"></i>
	        <h2 class="jumbotron-orange">Lorem ipsum</h2>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec tincidunt lectus. Proin suscipit urna eu erat egestas malesuada. In aliquet enim non lectus tincidunt vehicula. Pellentesque eros lorem, tempor et consequat a, mattis ut nulla. Ut id fringilla nibh. Nam ultricies ullamcorper neque. Aenean enim turpis, elementum a lacinia vulputate, tempor quis magna. Mauris ac mollis metus. Suspendisse ac placerat sem. Mauris bibendum consequat purus laoreet mattis. Aenean sodales, mauris ac mattis tempus, est urna gravida est, eu sodales dolor sem vel neque. Nullam ante nulla, interdum vel scelerisque sed, porttitor eget nibh. Mauris vitae nunc vel arcu consequat congue.</p>
	      </div>
	      <div class="span4">
	        <i class="icon-lock icon-4x"></i>
	        <h2 class="jumbotron-orange">Lorem ipsum</h2>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec tincidunt lectus. Proin suscipit urna eu erat egestas malesuada. In aliquet enim non lectus tincidunt vehicula. Pellentesque eros lorem, tempor et consequat a, mattis ut nulla. Ut id fringilla nibh. Nam ultricies ullamcorper neque. Aenean enim turpis, elementum a lacinia vulputate, tempor quis magna. Mauris ac mollis metus. Suspendisse ac placerat sem. Mauris bibendum consequat purus laoreet mattis. Aenean sodales, mauris ac mattis tempus, est urna gravida est, eu sodales dolor sem vel neque. Nullam ante nulla, interdum vel scelerisque sed, porttitor eget nibh. Mauris vitae nunc vel arcu consequat congue.</p>
	      </div>
	    </div>
	    <hr class="soften">
	  </div>
	
</div>

<div class="container">
	
	  <div class="marketing">

	
	    <div class="row-fluid">
	      <div class="span6">
	      	<i class="icon-beaker icon-4x"></i>
	        
	        <h2 class="jumbotron-orange">Lorem ipsum</h2>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec tincidunt lectus. Proin suscipit urna eu erat egestas malesuada. In aliquet enim non lectus tincidunt vehicula. Pellentesque eros lorem, tempor et consequat a, mattis ut nulla. Ut id fringilla nibh. Nam ultricies ullamcorper neque. Aenean enim turpis, elementum a lacinia vulputate, tempor quis magna. Mauris ac mollis metus. Suspendisse ac placerat sem. Mauris bibendum consequat purus laoreet mattis. Aenean sodales, mauris ac mattis tempus, est urna gravida est, eu sodales dolor sem vel neque. Nullam ante nulla, interdum vel scelerisque sed, porttitor eget nibh. Mauris vitae nunc vel arcu consequat congue.</p>

	      </div>

	      <div class="span6">
	        <i class="icon-time icon-4x"></i>
	        <h2 class="jumbotron-orange">Lorem ipsum</h2>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec tincidunt lectus. Proin suscipit urna eu erat egestas malesuada. In aliquet enim non lectus tincidunt vehicula. Pellentesque eros lorem, tempor et consequat a, mattis ut nulla. Ut id fringilla nibh. Nam ultricies ullamcorper neque. Aenean enim turpis, elementum a lacinia vulputate, tempor quis magna. Mauris ac mollis metus. Suspendisse ac placerat sem. Mauris bibendum consequat purus laoreet mattis. Aenean sodales, mauris ac mattis tempus, est urna gravida est, eu sodales dolor sem vel neque. Nullam ante nulla, interdum vel scelerisque sed, porttitor eget nibh. Mauris vitae nunc vel arcu consequat congue.</p>
	      </div>
	    </div>
	    <hr class="soften">
	  </div>
	
</div>

</div>
